*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
  
}
.floatLeft{
    float:left;
}
.floatRight{
    float: right;
}
.container{
    width:1100px;
    margin:0 auto;
    /* border:1px solid red; */
}
.clearFix::after{
    display: block;
    content: "";
    clear: both;
}
.btn {
    display: inline-block;
    font-weight: 600;
    vertical-align: bottom;
    cursor: pointer;
    border: 1px solid #d1d2d3;
    border-radius: 0.25em;
    color: #24292e;
    text-decoration: none;
    outline: 0;
    background-color: #eff3f6;
    background-image: -webkit-linear-gradient(top, #fafbfc, #cde0ee);
    background-image: -moz-linear-gradient(top, #fafbfc, #cde0ee); /*e4ebf0*/
    background-image: linear-gradient(to bottom, #fafbfc, #cde0ee);
    background-repeat: repeat-x;
    background-size: 110% 110%;
    width:auto !important;
    font-family: 'Roboto', sans-serif;
}
.btnmain{
    background-color: #eff3f6;
    background-image: -webkit-linear-gradient(top, #fafbfc, #a83535);
    background-image: -moz-linear-gradient(top, #fafbfc, #a83535); /*e4ebf0*/
    background-image: linear-gradient(to bottom, #fafbfc, #a83535);
    background-repeat: repeat-x;
}
.inp{
    border-color: #bdc7d8;
border-radius: 3px;
margin: 0;
color: #262728;
border: 1px solid #bdc7d8;
}

a{
    text-decoration: none;
}
h1{
   
    
    font-family: 'Text Me One', sans-serif;
    letter-spacing: 2px
}

body>header >div h1 a{
    padding:10px 0;
    display:block;
    font-size:.8em;
    color:#444
}
body>header >div input{
    padding:.3em .8em;
    margin-left:10px !important;
    height: 28px;
}
body>header >div button{
    padding:.4em 1em;
    height: 28px;

    /* font-size:9px;
    text-transform: uppercase;
    
    vertical-align: top;
    background-color:#3c925f;
    color:white;
    border:none;
    letter-spacing: 1px; */
}
body>header >div form{
    padding:8px 0;
    margin-top:5px;
}
body>header{
    background-color:#eee;
    border-bottom: 1px solid rgb(0,0,0,.125);
}
body>footer>div{
    padding:20px 0;
}
body>footer{
    border-top: 1px solid rgb(0,0,0,.125);
}
main{
    min-height: 90vh;
}
.lgt{
    display:flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
}
h2{
    font-size:2em;
    font-family: 'Text Me One', sans-serif;
}
.lgt section{
   
   padding-top:50px;
}
.lgt-sec-sgn form input{
    padding:.6em 1em;
    width:300px;
    margin-bottom:10px;
}

.lgt-sec-sgn form p:last-child input:first-child{
    width:150px !important;
    margin-right:15px;
}
.lgt-sec-sgn  h2{
    margin-bottom:15px;
    color:#444;
}
.lgt-sec-abt{
    width:780px;
}
.lgt-sec-abt h2{
    margin-bottom:15px;

}
.lgt-sec-abt p{
    margin-bottom: 15px;
}