<% if(data =='admin'){ %>
    <div id="betting">
        <form id="bettingform">
        <p>Select Match : &nbsp;&nbsp;<select id="schSel" class="inp">
            <option value="none">--Select--</option>
            <% if(betting.length > 0){ 
                betting.forEach(function(ele){
            %>
            <option  value="<%- ele._id %>"><%- ele.location %> - <%- ele.dateTime %></option>
            <%   }); } %>
        </select><input type="submit" class="btn btnmain" value="Create Pool"/></p>
    </form>
    </div>  
      
<% } %>
    <div id="fild_data" class="clearFix">
        
   
    </div>

<!-- <div class="betting-page">
    <div class="topbar">
        <h1 class="data">Saturday December 8th</h1>
        <h1 class="time">19:30 ET</h1>
        <h1 class="location">State Farm Arena, Atlanta GA</h1>
    </div>
    <div class="basketball-schedule">
        <div class="home-team-info">
            <h2 class="home-team">Denver Nuggets</h2>
            <img class="home-team-image" src="images/teamImages/denverNuggets.jpeg" alt="Houston Rockets">
            <form>
                <div class="poolpot">
                    <p class="pool">POOL:</p><h2 class="pot">$100.00</h2>
                </div>
                <div class="dollar">
                    <p class="sign">$</p><input class= "stake" type="text" id="name" name="user_name" placeholder="STAKE">
                </div>
                <button class="bet">BET</button>
            </form>
        </div>
        <div class="vs-and-location">
            <p class="vs">VS</p>
        </div>
        <div class="away-team-info">
            <h2 class="away-team">Atlanta Hawks</h2>
            <img src="images/teamImages/atlantaHawks.jpeg" alt="Dallas Mavericks">
            <form>
                <div class="poolpot">
                        <p class="pool">POOL:</p><h2 class="pot">$100.00</h2>
                </div>
                <div class="dollar">
                        <p class="sign">$</p><input class= "stake" type="text" id="name" name="user_name" placeholder="STAKE">
                </div>
                <button class="bet">BET</button>
            </form>
        </div>
    </div>
</div>
<div class="betting-page">
    <div class="topbar">
        <h1 class="data">Saturday December 8th</h1>
        <h1 class="time">19:30 ET</h1>
        <h1 class="location">State Farm Arena, Atlanta GA</h1>
    </div>
        <div class="basketball-schedule">
            <div class="home-team-info">
                <h2 class="home-team">Washington Wizards</h2>
                <img class="home-team-image" src="images/teamImages/washingtonWizards.jpeg" alt="Houston Rockets">
                <form>
                    <div class="poolpot">
                        <p class="pool">POOL:</p><h2 class="pot">$100.00</h2>
                    </div>
                    <div class="dollar">
                        <p class="sign">$</p><input class= "stake" type="text" id="name" name="user_name" placeholder="STAKE">
                    </div>
                    <button class="bet">BET</button>
                </form>
            </div>
            <div class="vs-and-location">
                <p class="vs">VS</p>
            </div>
            <div class="away-team-info">
                <h2 class="away-team">Cleveland Cavaliers</h2>
                <img src="images/teamImages/clevelandCavaliers.jpeg" alt="Dallas Mavericks">
                <form>
                    <div class="poolpot">
                            <p class="pool">POOL:</p><h2 class="pot">$100.00</h2>
                    </div>
                    <div class="dollar">
                            <p class="sign">$</p><input class= "stake" type="text" id="name" name="user_name" placeholder="STAKE">
                    </div>
                    <button class="bet">BET</button>
                </form>
            </div>
        </div>
    </div> -->






<style>


    .locationdiv {
        display: flex;
        justify-content: flex-end;
    }
    .topbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        color:#F7B632;
        font-size: 1.5vh;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .sign {
        font-size: 24px;
        display: flex;
        align-items: center;
        color: black;
    }
    .dollar {
        display: flex;
        flex-direction: row;
    }
    input[type="text"] {
    font-size:24px;
}
    ::-webkit-input-placeholder {
    font-size: 4vh;
    text-align: center;
    padding: 1vh 1vw;
    font-style: italic;
}
    .poolpot {
        border: 2px solid black;
        height: 10vh;
        width: 100%;
        background-color: #F7B632;
        /* margin-bottom: 1vh; */
        box-sizing: border-box;
    }
    .pot {
        text-align: center;
        width: 100%;
    }

    button {
        border: 2px solid black;
        height: 7vh;
        width: 100%;
        background-color: #F7B632;
        font-size: 24px;
        margin-bottom: 5vh;
    }
    .stake {
        height: 5vh;
        width: 100%;
        border: 2px solid transparent;
        margin-top: 0;
    }

    .away-team {
        text-align: center;
        display: inline-block;
        margin: 0 auto;
    }
    .home-team {
        text-align: center;
    }
    .date {
        background-color: black;
        padding: 5px 25px;
        margin-top: 5px;
        font-size: 20px;
        text-align: center;
        color: #F7B632;
    }
    .location {
        margin-right: 2vw;
    }
    .time {
        margin-left: 2vh;
    }
    .location-and-time {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 3vh;
    }
    .enclosure {
        border: 1px solid #efefef;
    }
    .vs-and-location {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .vs {
        display: flex;
        align-items: center;
        margin: 0vw 10vh;
        font-size: 5vh;
    }

    .basketball-schedule {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3vh;
    }

    .home-team-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20vw;
    }

    .away-team-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 20vw;
    }

    img {
        width: 100%;
    }
    #betting select{
        padding: .6em 1em;
        width: 400px;
    }
    #betting input{
        padding: .7em 1em;
        margin-left:20px;
    }
    #betting{
        padding:20px;
    }
    #fild_data{
        border: 1px solid #bababa;
        padding: 15px;
        margin-top:25px;
    }
</style>
<script type="text/javascript">

    (function(){

        var matches = <%- JSON.stringify(betting) %>;
        $('#bettingform').submit(function(e){
            e.preventDefault();

            var matchid = $('#schSel').val();
            if(matchid !='none'){
                matches.forEach(function(ele){
                    if(ele._id === matchid ){
                        $.ajax({
                            url: "betting/create/pool",
                            type: "POST",
                            data: {
                                team1 : ele.team1,
                                team2 : ele.team2,
                                matchId : matchid
                            },
                            success: function(res) {
                                $('#schSel').children('option:selected').remove();
                                getBetttingPool();
                            },
                            error: function(jqXHR, textStatus, errorMessage) {
                                
                            }
                
                        });
                    }
                });
            }
            
           
        });
        function getBetttingPool(){
            $.ajax({
                            url: "betting/pool",
                            type: "GET",
                            success: function(resp) {
                                console.log(res);
                                var keys = Object.keys(resp);
                                ele = '';
                                for(i=0;i < keys.length; i++){
                                    var res = resp[keys[i]];
                                    ele += '<div class="betting-page">';
                                    ele +='<div class="topbar">';
                                    ele +='<h1>'+res[0].matchId.dateTime+' : '+res[0].matchId.location+'</h1>';
                                    ele +='</div>';
                                    ele +='<div class="basketball-schedule">';
                                    ele +='<div class="home-team-info">';

                                    ele +='<h2 class="home-team">'+res[0].teamId.name+'</h2>';
                                    ele +='<img class="home-team-image" src="'+res[0].teamId.imgLink+'" alt="Houston Rockets">';
                                    ele +='<form>';
                                    ele +='<div class="poolpot">';
                                    ele +='<p class="pool">POOL:</p><h2 class="pot">$<span>'+res[0].amount+'</span></h2>';
                                    ele +='</div>';
                                    <% if(data =='user'){ %>
                                    ele +='<div class="dollar">';
                                    ele +='<p class="sign">$</p><input class= "stake" type="text" id="name" name="user_name" placeholder="STAKE">';
                                    ele +='</div>';
                                    ele +='<button class="bet" data-id="'+res[0]._id+'">BET</button>';
                                    <% }else if(data=='admin'){ %>
                                        ele +='<button class="bet" data-id="'+res[0]._id+'">sET WINNER</button>';
                                    <% } %>
                                    ele +='</form>';
                                    ele +='</div>';
                                    ele +='<div class="vs-and-location"><p class="vs">VS</p></div>';
                                    ele +='<div class="away-team-info">';
                                    ele +='<h2 class="away-team">'+res[1].teamId.name+'</h2>';
                                    ele +='<img src="'+res[1].teamId.imgLink+'" alt="Dallas Mavericks">';
                                    ele +='<form>';
                                    ele +='<div class="poolpot">';
                                    ele +='<p class="pool">POOL:</p><h2 class="pot">$<span>'+res[1].amount+'</span></h2>';
                                    ele +='</div>';
                                    <% if(data =='user'){ %>
                                    ele +='<div class="dollar">';
                                    ele +='<p class="sign">$</p><input class= "stake" type="text" id="name" name="user_name" placeholder="STAKE">';
                                    ele +='</div>'
                                    
                                    ele +='<button class="bet" data-id="'+res[1]._id+'">BET</button>';
                                    <% }else if(data=='admin'){ %>
                                        ele +='<button class="bet" data-id="'+res[1]._id+'">SET WINNER</button>';
                                    <% } %>
                                    ele +='</form>';
                                    ele +='</div>';
                                    ele +='</div>';
                                    ele +='<div>';
                                }
                                // $('#schSel').children('option:selected').remove();
                                $('#fild_data').empty().append(ele);
                                
                                // // //////////////////
                                // $('#fild_data').empty().append(ele);
                                //   console.log(res);
                            },
                            error: function(jqXHR, textStatus, errorMessage) {
                                
                            }
                
                        });
        }
        $('#fild_data').on('click','.betting-page .basketball-schedule .bet',function(e){
            e.preventDefault();
            <% if(data=='admin'){ %>
                var poolId = $(this).data('id');
                var ths = $(this);
               
                $.ajax({
                    url: "betting/setwinner/"+poolId,
                    type: "PUT",                    
                    success: function(response) {
                        ths.parents('div.betting-page').remove();
                        // polamt.text(parseFloat(response.amount));
                        console.log(response);
                            // getteam();
                            
                    },
                    error: function(jqXHR, textStatus, errorMessage) {
                        
                    }
        
                });
            <% } else{ %>
                var poolId = $(this).data('id');
                var amount = $(this).siblings('div.dollar').children('input').val();
                var polamt = $(this).siblings('div.poolpot').children('h2').children('span').empty();
                console.log(amount);
                console.log(poolId);
                // return;
                $.ajax({
                    url: "betting/makeBet",
                    type: "POST",
                    data: {
                            poolId : poolId,
                            amount : amount
    
                    },
                    
                    success: function(response) {
                        polamt.text(parseFloat(response.amount));
                        console.log(response);
                            // getteam();
                            
                    },
                    error: function(jqXHR, textStatus, errorMessage) {
                        
                    }
        
                });

            <% } %>
            
        });
       getBetttingPool();
    })();

</script>