<footer>
        <div class="container">
            <small>Copyright &copy; 2018</small>
        </div>
    </footer>
    
   
</body>
<style>
   
</style>
<% if(data !== null){ %>  
<script type="text/javascript" src="http://localhost:3000/js/main.js"></script>
<% } %>  
</html>