<!DOCTYPE html>
<html lang="en">
<head>
       
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/site/favicon.ico">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://localhost:3000/style/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Text+Me+One" rel="stylesheet"> 
    <title>Betting</title>

</head>
<body>
    <header>
        <div class="container clearFix">
            <h1 class="floatLeft"><a href="#">BettingWeb</a></h1>
            <div class="floatRight">
                <form  action="#" method="POST"><input autocomplete="off" required class="inp"  type="email" placeholder="Email" name="email"/><input autocomplete="off" required class="inp" placeholder="Password" type="password" name="password"/>
                    <button class="btn">Login</button>
                </form>
            </div>
        </div>
    </header>
    <main>
        <div class="container lgt">
            <section class="lgt-sec-abt">
                <h2>Welcome</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo, repellat aliquid doloremque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, pariatur dignissimos! Libero ducimus minima ullam aspernatur. Quaerat dolor similique sed sit eaque magnam vitae, provident debitis placeat quis, corrupti quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo, repellat aliquid doloremque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, pariatur dignissimos! Libero ducimus minima ullam aspernatur. Quaerat dolor similique sed sit eaque magnam vitae, provident debitis placeat quis, corrupti quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo, repellat aliquid doloremque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, pariatur dignissimos! Libero ducimus minima ullam aspernatur. Quaerat dolor similique sed sit eaque magnam vitae, provident debitis placeat quis, corrupti quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo, repellat aliquid doloremque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, pariatur dignissimos! Libero ducimus minima ullam aspernatur. Quaerat dolor similique sed sit eaque magnam vitae, provident debitis placeat quis, corrupti quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo</p>
            </section>
            <section class="lgt-sec-sgn">
                <h2>Sign Up</h2>
                <form>
                    <p><input class="inp" placeholder="Full Name" autocomplete="off" type="text" type="name" /></p>
                    
                    <p><input class="inp" required placeholder="Address" type="text" type="address" /></p>
                    <p><input class="inp" required placeholder="Email" type="email" type="email" /></p>
                    <p><input class="inp" required placeholder="Phone Number" type="phone" type="phone" /></p>
                    <p><input class="inp" required placeholder="Password" type="password" type="password" /></p>
                    <p><input class="btn btnmain" required type="submit" value="Sign Up" /><input type="reset" class="btn" value="Reset"/></p>

                </form>
            </section>
        </div>
    </main>
    <footer>
        <div class="container">
            <small>Copyright &copy; 2018</small>
        </div>
    </footer>
    
   
</body>
<style>
   
</style>
<script type="text/javascript" src="http://localhost:3000/js/main.js">
   
</script>
</html>