
    <main>
        <div class="container lgt">
            <section class="lgt-sec-abt">
                <h2>Welcome</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo, repellat aliquid doloremque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, pariatur dignissimos! Libero ducimus minima ullam aspernatur. Quaerat dolor similique sed sit eaque magnam vitae, provident debitis placeat quis, corrupti quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo, repellat aliquid doloremque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, pariatur dignissimos! Libero ducimus minima ullam aspernatur. Quaerat dolor similique sed sit eaque magnam vitae, provident debitis placeat quis, corrupti quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo, repellat aliquid doloremque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, pariatur dignissimos! Libero ducimus minima ullam aspernatur. Quaerat dolor similique sed sit eaque magnam vitae, provident debitis placeat quis, corrupti quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo, repellat aliquid doloremque?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, pariatur dignissimos! Libero ducimus minima ullam aspernatur. Quaerat dolor similique sed sit eaque magnam vitae, provident debitis placeat quis, corrupti quidem?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae explicabo nisi, error atque facilis quidem. Enim consectetur quos nihil dignissimos nulla temporibus cumque a quibusdam incidunt, explicabo</p>
            </section>
            <section class="lgt-sec-sgn">
                <h2>Sign Up</h2>
                <form  class="foam" action="/users/register" method="POST">
                    <p><input class="inp foamy" placeholder="Full Name" autocomplete="off" type="text" name="name" /></p>
                    
                    <p><input class="inp foamy" required placeholder="Address" type="text" name="address" /></p>
                    <p><input class="inp foamy" required placeholder="Email" type="email" name="email" /></p>
                    <p><input class="inp foamy" required placeholder="Phone Number" type="phone" name="phone" /></p>
                    <p><input class="inp foamy" required placeholder="Password" type="password" name="password" /></p>
                    <p><input class="btn btnmain" required type="submit" value="Sign Up" /><input type="reset" class="btn" value="Reset"/></p>

                </form>
            </section>
        </div>
    </main>
  