<% if(data =='admin'){ %>
<div id="team">
    <h3>Create team</h3>
    <form id="teamform" class="clearFix">
        <div class="floatingLeft">
            <table>
                <tr>
                    <td>Team Name </td>
                    <td> : <input class="inp" id="teamname" placeholder="" autocomplete="off" type="text" name="teamName" /></td>
                </tr>
                <tr>
                    <td>Team Image</td>
                    <td> : <input class="inp" id="imgfile" placeholder="" autocomplete="off" type="file" name="image" /></td>
                </tr>
            </table>
        </div>
        <div class="floatingRight">
            <p class="description">Description</p>
            <textarea id="teamdes" name="description"></textarea>
            <p><input type="reset" value="Reset" class="btn"/> <input type="submit" value="Submit" class="btn btnmain"/></p>
        </div>     
    </form>
</div>
<% } %>
<div id="fild_data" class="clearFix">
        

</div>
<style>

    .description {
        color: black;
    }
    .team{
        position: relative;
        width:200px;
        border:1px solid #d1d1d1;
        padding:10px;
        float:left;
        margin-right:10px; margin-bottom:10px;
    }
    .team > img{
        width:100%;
        height:150px;
    }
    .team > i{
        position:absolute;
        background-color:red;
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        right:0; top:0;
        padding:1px 5px;
        cursor:pointer;
        display: none;
    }
    <% if(data =='admin'){ %>
    .team:hover i{
        display: block;
    }
    <% } %>
    .team >  p.nm{
        position: relative;
        font-size:1.4em;
        text-align: center;
        padding:12px 2px 6px;
    }
    .team >  p.dis{
        position: relative;
        font-size:.9em;
        text-align: center;
        padding:2px;
    }
    <% if(data =='admin'){ %>
    .team >  p.dis:hover,.team >  p.nm:hover{
        border:1px solid #eee;
        opacity: .7;
    }
    <% } %>
    .team > p > i.edit{
        position: absolute;
        font-size:10px;
        display: none;
        background-color:red;
        padding:2px 4px;
        cursor: pointer;
        right:0; top:0;
        color:white;
    }
    <% if(data =='admin'){ %>
    .team > p:hover >i.edit{
        display: block;
    }
    <% } %>
    /*  */
    #team{
        margin:30px 10px 10px 10px;
        padding:15px 20px;
        border:1px solid #bababa;
        position: relative;
        
        
    }
    
    #team h3{
        position: absolute;
        top:-9px;
        left:20px;
        background-color:white;
        padding:3px 10px;
    }
    #teamform{
        width:100%;
    }
    #teamform div{
        width:50%;
    }
    #teamform > div table{
        width:100%;
    }
    #teamform > div table tr td{
        padding:3px 0;
    }
    #teamform input{
        padding: .6em 1em;
        width:90%;
    }
    #teamform > div p{
        margin-bottom:5px;
    }
    #teamform div textarea{
        border-radius: 3px;
        margin: 0;
        color: #262728;
        border: 1px solid #bdc7d8;
        resize: none;
        width:100%;
        height:58px;
        padding:5px;
    }
    #teamform > div p:last-child{
        margin-top:5px;
        text-align: right;
    }
    #fild_data{
        border: 1px solid #bababa;
        padding: 15px;
        margin:25px 10px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media screen and (max-width: 1150px) {
        #teamform {
            display: flex;
            flex-direction: column;
        }
        #teamform div {
            width: 100%;
        }
        .floatingLeft {
            width: 100%;
        }
        #fild_data {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
}

@media screen and (max-width: 527px) {
    #fild_data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
</style>
<script type="text/javascript">
    // (function(){
        //deleteing
        
        <% if(data =='admin'){ %>
        $('#fild_data').on('click','.team>i',function(e){
            $('#loading').show();
            var id = $(this).data('val');
            var ths = $(this);
            $.ajax({
                url: "/teams/"+id,
                type: "DELETE",        
                contentType: 'json',
                success: function(res) {
                    ths.parent('div.team').remove();
                    setTimeout(function(){  $('#loading').hide();  }, 800);
                },
                error: function(jqXHR, textStatus, errorMessage) {
                    setTimeout(function(){  $('#loading').hide();  }, 800);
                }

            });
        });
        var conformation = false;
        $('#fild_data').on('click','.team >  p >i.edit',function(e){
          
            var conformation = confirm("Are you sure you want to make changes");
            if(conformation){
                $(this).siblings('span').attr('contenteditable',true);
                $(this).siblings('span').focus();
            }
            
            
        });
        $('#fild_data').on('focusout','.team >  p span ',function(e){
           
            var par = $(this).parent('p').attr('class');
           
            $(this).attr('contenteditable',false).focus();
            var id = $(this).parents('div.team').children('i').data('val');
            var preData = $(this).data('val');
            var currData = $(this).text();
            var ths  = $(this);
            var data = {};
            if(par=='nm'){
                data.teamName = currData;
            }
            else if(par=='dis'){
                data.description = currData;
            }
            if(preData != currData){
                $('#loading').show();
                $.ajax({
                    url: "/teams/edit/"+id,
                    type: "PUT",                  
                    data:data,
                    success: function(res) {
                        setTimeout(function(){  $('#loading').hide();  }, 800);
                    },
                    error: function(jqXHR, textStatus, errorMessage) {
                        ths.text(preData);
                        setTimeout(function(){  $('#loading').hide();  }, 800);
                    }

                });
            }
           

        });
        $('#teamform').submit(function(e){
           e.preventDefault();
            var blobFile = $('#imgfile')[0].files[0];
           
               var formData = new FormData();
               formData.append("teamImg", blobFile);
               formData.append("teamName", $('#teamname').val());
               formData.append("description", $('#teamdes').val());
       
               $.ajax({
                   url: "teams/create",
                   type: "POST",
                   data: formData,
                   processData: false,
                   contentType: false,
                   cache: false,
                   success: function(response) {
                        getteam();
                        
                   },
                   error: function(jqXHR, textStatus, errorMessage) {
                       
                   }
       
               });
        });
        <% } %>
        function getteam(){
            $('#loading').show();
            $.ajax({
                url: "/teams/get",
                type: "GET",        
                contentType: 'json',
                success: function(res) {
                    let ele = "";
                if(res.length > 0){
                    res.forEach(function(el){
                        ele += '<div class="team"><i data-val="'+el._id+'">x</i>';
                        ele += '<img src="'+el.imgLink+'">';
                        ele += '<p class="nm" ><i class="edit">edit</i><span data-val="'+el.name+'">'+el.name+'</span></p>';
                        ele += '<p class="dis" ><i class="edit">edit</i><span data-val="'+el.description+'">'+el.description+'</span></p>';
                        ele += '</div>';
                    });
                    $('#fild_data').empty().append(ele);

                }
                setTimeout(function(){  $('#loading').hide();  }, 800);
                },
                error: function(jqXHR, textStatus, errorMessage) {
                    setTimeout(function(){  $('#loading').hide();  }, 800);
                }

            });
        }
        getteam();





















    // })();
</script>