<div id="fields">
    <div class="clearFix">
        <p class="floatLeft"> Sort User
        <select id="userSelect">
            <option value="enable"> Enable </option>
            <option value="disable"> Disable </option>
        </select></p>
        <p class="floatRight" id="srt"> <span class="prev">< Previous</span> | <span class="nxt">next ></span>        </p>
    </div>
    <div id="fild_data" class="clearFix">
        
       
    </div>
        

    </div>
<style>
    #fields >div{
        margin:15px 0;
    }
    .ad,.em{
        font-size:.8em;
    }
    #fields >div > p{
        color:black;
        font-size:.7em;
        text-transform: uppercase;
    }
    #fields >div select{
        padding:2px 20px;
        margin-left:20px;
    }
    .user{
        position: relative;
        border:1px solid #d1d1d1;
        width:200px;
       
        float:left;
        margin-bottom:10px;
        margin-right: 10px;
        padding:10px;
        transition: all 1s ease;
        
    }
    .user img{
        width:100%;
        margin-bottom:20px;
       
    }
    .user > p{
        text-align: center;

    }
    
    .user >p:nth-child(2){
        
        
        /* font-family: 'Text Me One', sans-serif; */
        font-size:1.3em;
        text-transform: capitalize;
    }
    .status{
        /* display:none; */
        position:absolute;
        width:100%; height: 100%;
        left:0; top:0;
        background-color:rgb(0, 0,0,.0);
        overflow: hidden;
        transition:all 1s ease;
        /* opacity: .2;; */
    }
    .status > p{
       
        position: absolute;
        top:30%;
        display:block;
        width:100%;
        padding:3px;
        text-align: center;
        
        cursor: pointer;
        left:100%;
        transition:all 1s ease;
    }
    .status > p span{
        background-color:#0066c0;
        color:white;
        padding:4px 8px;
        font-size:1em;
        text-transform: capitalize;
    }
    .user:hover > div.status{
        background-color:rgb(0, 0,0,.2);
    }
    .user:hover >div.status > p{
        left:0;
    }
    .srt{
        color:#d1d1d1;
    }
    .nxt{
        font-size:1em;
        text-transform: uppercase;
        padding-left:10px;
        color:black;
        cursor:pointer;
    }
    .prev{
        font-size:1em;
        text-transform: uppercase;
        color:black;
        padding-right:10px;
        cursor:pointer;
    }
    #fild_data{
        border:1px solid #bababa;
      
        padding:15px;
       
    }
</style>
<script type="text/javascript">


(function(){
   
    var userlist = {
        option: {
            'enable' : 'disable',
            'disable':'enable'
        },
        getUser: function(){
            var opt = $('#userSelect').val();
            var ths = this;
            $.ajax({
                url: "/users/p/0/s/"+opt,
                type: "GET",        
                contentType: 'json',
                success: function(res) {                
                    var eles = '';
                    res.forEach(function(ele){
                        eles += '<div class="user"><div class="status"><p data-val="'+ele._id+'" class="st"><span>'+ths.option[opt]+'</span></p></div>';
                        eles += '<img src="/images/site/avatar.jpg"/>';
                        eles += '<p class="nm">'+ele.name+'</p>';
                        eles += '<p class="ad">'+ele.address+'</p>';
                        eles += '<p class="em">'+ele.email+'</p>';
                        eles += '</div>';
                    });
                    $('#fild_data').empty().append(eles);
                
                },
                error: function(jqXHR, textStatus, errorMessage) {
                    
                }

            });
        }
    }; 
    
    $('#fild_data').on('click','div.user >div.status > p.st',function(e){
        var id = $(this).data('val');
        var status = $(this).text().toLocaleLowerCase();
        var ths = $(this);
        $.ajax({
            url: "/users/"+id+"/status/"+status,
            type: "PUT",        
            contentType: 'json',
            success: function(res) {
                if(res=='sucess'){
                    ths.parents('div.user').remove();
                }
                
               console.log('sucess');
            
            },
            error: function(jqXHR, textStatus, errorMessage) {
                
            }

        });
        console.log('clicked');
    });
    $('#userSelect').change(function(e){
        userlist.getUser();
    });
    userlist.getUser();
})();

</script>